{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', {'userName': user.name}) }}">
                        {{ user.name }}
                    </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
