{{ form_start(hobbyForm) }}
                {{ form_row(hobbyForm.hobby) }}
                {{ form_row(hobbyForm.age) }}

<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(hobbyForm) }}